@import url('https://fonts.googleapis.com/css?family=Iceland|Libre+Franklin');

h1 {
    font-family: 'Iceland', cursive;
    font-size: 250%;
}

h2, h3, h4, h5, body {
    font-family: 'Libre Franklin', sans-serif;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background: #222;
    color: #F4F4F4;
    padding: 15px;
    border-bottom: 5px solid #00BFD8;
    margin-top: -15px;
}

.navbar a {
    font-family: 'Iceland', cursive;
    color: #4F4F4F;
    font-size: 110%;
}

.navbar a:hover {
    color: #FF9F1C;
}

.display-inline {
    display: inline;
}

.filter {
    background: #F4F4F4;
    padding: 20px; 
}


.form-group {
    /* margin: 50px; */
    border-radius: 0%;  
    border: 0px;
    /* max-width: 50%; */
}

.form-control {
   padding: 10px; 
   border-radius: 0px;
   margin-left:10px;
   max-width: 70%;
}


.form-heading {
    margin-top: 50px;
    margin-left: 200px;
}

.edit-profile {
    padding: 20px;
}

.edit-heading {
    padding: 20px;
}

.actions {
    padding: 10px;
}

.card-img-top {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.btn {
    border-radius: 0;
    background: #00BFD8;
    color: #fff;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background: #FF9F1C;
}

 /* Mobile Friendly */
@media only screen and (max-width: 600px) {
    .filter {
        display: none;
    }
    .form-control {
        padding: 10px; 
        border-radius: 0px;
        margin-left:10%;
        max-width: 80%;
     }
}