<h1>New Product</h1>

<%= render 'form', product: @product %>
<%= f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select") %>

<%= link_to 'Back', products_path %>
